<div class="background-img">

    <div class="course-container container-fix">
        <p class="text-24 text-90"> &lt; nova geração de <br>desenvolvedores <br>/></p>

        <p class="title t-color-primary"> <span class="title-detail"> [</span> <br> CURSOS <span class="title-detail"> /> </span> </p>

        <div class="text-info">

            <div class="content">
                <p class="number-info">&lt;1></p>
                <div class="text-info-detail">
                    <p class="title-20"> HTML\CSS:</p>
                    <p class="text-p">Você aprenderá os conceitos básicos de HTML e CSS, criará seu primeiro site e, em
                        seguida, revisará algumas das práticas recomendadas atuais de HTML5 e CSS3.</p>
                </div>
            </div>

            <div class="content">
                <p class="number-info">&lt;2></p>
                <div class="text-info-detail">
                    <p class="title-20"> Roteiro JAVA:</p>
                    <p class="text-p">Aprenda a linguagem Javascript permitindo que você adicione interatividade aos
                        sites.
                        Ele pode ser usado para criar efeitos interativos em páginas da web.</p>
                </div>
            </div>

            <div class="content">
                <p class="number-info">&lt;3></p>
                <div class="text-info-detail">
                    <p class="title-20"> SCRUM:</p>
                    <p class="text-p">O treinamento e a certificação Scrum cumprem a visão do manifesto Agile,
                        promovendo
                        maior colaboração e sucesso entre os membros da equipe.</p>
                </div>
            </div>

            <div class="content">
                <p class="number-info">&lt;4></p>
                <div class="text-info-detail">
                    <p class="title-20"> Habilidades interpessoais:</p>
                    <p class="text-p">Atualize suas habilidades sociais e obtenha novos conhecimentos em programação
                        para se
                        tornar um especialista valioso no setor de TI à vontade!</p>
                </div>
            </div>

            <div class="content">
                <p class="number-info">&lt;5></p>
                <div class="text-info-detail">
                    <p class="title-20"> Orientação de carreira:</p>
                    <p class="text-p">Quer saber mais sobre carreiras em TI e sobre todo o setor? Vamos responder a
                        todas as
                        suas perguntas e orientá-lo!.</p>
                </div>
            </div>

        </div>
    </div>

</div>