<div class="header-container">

    <div class="header container-fix">
        <img src="../../../assets/img/logo-master.png" alt="logo-masterOfScience" class="img-log">
        <nav class="menu">
            <a href="" class="menu-link">Sobre</a>
            <a href="" class="menu-link">Programa</a>
            <a href="" class="menu-link">Metodologia</a>
            <a href="" class="menu-link">Conceito</a>
            <a href="" class="menu-link">Formato</a>
            <a href="" class="menu-link">Preço</a>
            <a href="" class="menu-link">Registro</a>
        </nav>
    </div>

    <div class="header-info container-fix">
        <p class="text-24 text-90"> &lt; nova geração de <br>desenvolvedores <br>/></p>
        <div class="info-half">
            <p class="text-header"> inteligência <br> [ FRONT <br> END ]</p>
            <div class="info-text-header-row">
                <p class="text-header-row"> <span class="t-strong">Entre fácil em TI <br></span> Profissão Desenvolvedor
                    Frontend em 6<br> meses</p>
                <button class="btn-primary btn-insc">INCREVA-SE PARA O CURSO</button>
            </div>
        </div>
        <img src="../../../assets/img/imagem01.png" alt="imagem01" class="img-header">
    </div>
</div>