@import "../../../assets/scss/animation.scss";

.this-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 60px 40px;
    position: relative;

    .text-info {
        display: flex;
        flex-wrap: wrap;

     .text-info-detail {
            max-width: 320px;
        }
    }
}