<div class="this-container container-fix">

    <div class="title"> [ FRONT <br> END ] <span class="title-detail">- this</span></div>

    <div class="text-info">

        <div class="text-info-detail">
            <p class="title-20 t-color-secondary">&lt;/ Faça o que gosta e ganhe bem</p>
            <p> Adquira sua profissão e comece uma carreira na indústria de TI! Se você é
                apenas um amador disposto a adquirir conhecimento profissional, praticar bastante e receber um
                certificado, você está no lugar certo! Aqui você vai encontrar ainda mais!
            </p>
        </div>

        <div class="text-info-detail">
            <p class="title-20 t-color-secondary">&lt;/ Apenas professores praticantes</p>
            <p> Trabalhamos com os melhores especialistas em TI
                que têm talento para compartilhar seus
                conhecimentos e dar conselhos profissionais aos
                alunos. Todos eles trabalham na indústria de TI e
                conhecem as últimas tendências nesta área.
            </p>
        </div>

        <div class="text-info-detail">
            <p class="title-20 t-color-secondary">&lt;/ Bombeamento de soft skills</p>
            <p> Defendemos o pleno desenvolvimento das competências, por isso trabalhamos tanto
                as hard quanto as soft skills, que são igualmente importantes. Aqui você terá a oportunidade de se
                tornar um especialista totalmente competente.
            </p>
        </div>

        <div class="text-info-detail">
            <p class="title-20 t-color-secondary">&lt;/ Projetos para portfólio</p>
            <p> Defendemos o pleno desenvolvimento das competências, por isso trabalhamos tanto
                as hard quanto as soft skills, que são igualmente importantes. Aqui você terá a oportunidade de se
                tornar um especialista totalmente competente.
            </p>
        </div>

        <div class="text-info-detail">
            <p class="title-20 t-color-secondary">&lt;/ Pronto para procurar trabalho</p>
            <p> Depois de concluir sua educação, você poderá iniciar sua carreira em qualquer
                esfera de TI que selecionar. Somos capazes de fornecer aos nossos melhores alunos boas recomendações
                para empresas respeitadas.
            </p>
        </div>

    </div>
</div>