<div class="method-container container-fix">

    <div class="elements-left">
        <p class="title t-color-primary"> <span class="title-detail t-color-primary"> [</span> METODOLOGIA ] <br> inteligente<span
                class="title-detail t-color-primary">_>
            </span> </p>
        <p class="text-p">Os cursos de TI podem ajudá-lo a transformar seu amor por todas as coisas geek e paixão por um
            setor específico em uma carreira brilhante como programador, profissional de rede, suporte técnico,
            especialista
            em segurança e muito mais /></p>

        <img src="../../../assets/img/chart.svg" alt="chart" class="img-chart">
    </div>

    <div class="elements-right">

        <p class="t-30 t-color-secondary t-bold"> Cada curso do programa compreende: </p>

        <div class="info-box">

            <p class="title-20 t-color-primary"> &lt;ágil></p>

            <div class="load-container">
                <div class="load load-60"></div>
                <div class="t-30 t-color-primary t-regular"> 60% </div>
            </div>

            <p class="text-p">Equipe-se com os princípios e processos essenciais necessários para projetos
                ágeis bem-sucedidos. </p>

        </div>

        <div class="info-box">

            <p class="title-20 t-color-primary"> &lt;inglês></p>

            <div class="load-container">
                <div class="load load-10"></div>
                <div class="t-30 t-color-primary t-regular"> 10% </div>
            </div>

            <p class="text-p">Aqui você tem a oportunidade única de melhorar suas habilidades no idioma inglês técnico.
            </p>

        </div>

        <div class="info-box">

            <p class="title-20 t-color-primary"> &lt;habilidades de carreira></p>

            <div class="load-container">
                <div class="load load-30"></div>
                <div class="t-30 t-color-primary t-regular"> 30% </div>
            </div>

            <p class="text-p">Descubra a melhor chance de obter as melhores habilidades de carreira no setor de TI e se
                tornar um profissional!
            </p>

        </div>

    </div>
</div>