<div class="summary-container container-fix">

    <div class="elements-left">
        <p class="title t-color-primary"> <span class="title-detail t-color-primary"> [</span><br> RESUMO <br>
            CURSO<span class="title-detail t-color-primary"> <br>]
            </span> </p>
    </div>

    <div class="elements-align">

        <div class="elements-right">

            <div class="info-box">
                <p class="text-p t-color-secondary">01/</p>
                <p class="text-p">Linguagem de marcação HTML5</p>
            </div>
            <div class="info-box">
                <p class="text-p t-color-secondary">02/</p>
                <p class="text-p">Layout semântico</p>
            </div>
            <div class="info-box">
                <p class="text-p t-color-secondary">03/</p>
                <p class="text-p">Posicionamento de elementos</p>
            </div>
            <div class="info-box">
                <p class="text-p t-color-secondary">04/</p>
                <p class="text-p">Backgound. Gradientes</p>
            </div>
            <div class="info-box">
                <p class="text-p t-color-secondary">05/</p>
                <p class="text-p">Pseudo-elementos e pseudo-classe</p>
            </div>
            <div class="info-box">
                <p class="text-p t-color-secondary">06/</p>
                <p class="text-p">Trabalhando com cor. Transparência</p>
            </div>
            <div class="info-box">
                <p class="text-p t-color-secondary">07/</p>
                <p class="text-p">Trabalhar com texto. Fontes do Google</p>
            </div>
            <div class="info-box">
                <p class="text-p t-color-secondary">08/</p>
                <p class="text-p">Transformações, transições, animações</p>
            </div>
            <div class="info-box">
                <p class="text-p t-color-secondary">09/</p>
                <p class="text-p">Tecnologia Flexbox / Grid</p>
            </div>

        </div>


        <div class="elements-right">
            <div class="info-box">
                <p class="text-p t-color-secondary">10/</p>
                <p class="text-p">Layout responsivo</p>
            </div>
            <div class="info-box">
                <p class="text-p t-color-secondary">11/</p>
                <p class="text-p">Gráficos vetoriais. SVG</p>
            </div>
            <div class="info-box">
                <p class="text-p t-color-secondary">12/</p>
                <p class="text-p">Metodologia de imposição</p>
            </div>
            <div class="info-box">
                <p class="text-p t-color-secondary">13/</p>
                <p class="text-p">Pré-processadores. SASS</p>
            </div>
            <div class="info-box">
                <p class="text-p t-color-secondary">14/</p>
                <p class="text-p">Grades Semânticas</p>
            </div>
            <div class="info-box">
                <p class="text-p t-color-secondary">15/</p>
                <p class="text-p">Angular+ </p>
            </div>
            <div class="info-box">
                <p class="text-p t-color-secondary">16/</p>
                <p class="text-p">ES6</p>
            </div>
            <div class="info-box">
                <p class="text-p t-color-secondary">17/</p>
                <p class="text-p">Noções básicas de POO</p>
            </div>
        </div>

    </div>
</div>