<div class="main-container">
    <app-header></app-header>
    <app-this></app-this>
    <app-if></app-if>
    <app-course></app-course>
    <app-method></app-method>
    <app-concept></app-concept>
    <app-format></app-format>
    <app-summary></app-summary>
    <app-price></app-price>
    <app-start></app-start>
    <app-bottom></app-bottom>
    <div class="btns-container">
        <button class="btn-primary"><i class="bi bi-cart3"></i> Comprar</button>
        <button class="btn-primary more">Saiba mais <i class="bi bi-chevron-right"></i></button>

    </div>
</div>