<div class="price-container">

    <div class="price container-fix">
        <div class="info-box">
            <p class="title t-color-primary">R$ 499<span class="title-detail">/mês</span></p>
            <p class="text-p">Pague o curso mensalmente ou integralmente (com 5% de desconto), é possível parcelar</p>
        </div>

        <div class="info-box">
            <p class="title t-color-primary">27<span class="title-detail"> lições</span></p>
            <p class="text-p">2 vezes por semana, às quintas-feiras das 19:30 às 21:30 e aos sábados das 11:00 às 13:00</p>
        </div>

        <div class="info-box">
            <p class="title t-color-primary">Outubro<span class="title-detail"> 2022</span></p>
            <p class="text-p">O próximo grupo começará em outubro de 2022
            </p>
        </div>

        <div class="info-box">
            <p class="title t-color-primary">14<span class="title-detail"> lugares</span></p>
            <p class="text-p">Prestamos atenção a cada aluno do curso. Portanto, o número de vagas é limitado</p>
        </div>
    </div>
</div>