<div class="start-container">

    <div class="elements-left">
        <img src="../../../assets/img/logo-master-bottom.png" alt="logo-masterOfScience" class="img-log-bottom">
        <p class="text-12">Junte-se à nossa comunidade e comece sua carreira de sucesso conosco hoje! Aqui você encontra
            professores experientes, ambiente amigável para se desenvolve!</p>
    </div>

    <div class="elements-right">
        <div class="content">
            <p class="text-p">Suporte e venda personalizados </p>
            <p class="title-20">(11) 91234-5678 </p>
        </div>
        <div class="content">
            <p class="text-12">Rua das flores  3210</p>
            <p class="text-12">Segunda a Sexta das 9h00 às 18h00; Sábado das 9h00 às 16h00 </p>
        </div>

        <div class="content t-color-secondary icons">
            <i class="bi bi-facebook"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-linkedin"></i>
            <i class="bi bi-twitter"></i>
        </div>
    </div>

</div>