<div class="if-container container-fix">

    <img src="../../../assets/img/imagem02.png" alt="imagem02" class="img-if">

    <div class="if-info">

        <p class="title"> [ ESTE PROGRAMA É <br>PARA VOCÊ ]<span class="title-detail"> if:</span></p>

        <div class="text-info-detail">
            <p class="title-20 t-color-secondary"> <span class="if-text-detail">&#123;</span> Iniciar carreira</p>
            <p class="text-p">Você tem habilidades menores, mas pretende saber mais? Você sabe para onde se mover,
                mas precisa de algum impulso para o seu progresso? Bem, aqui você poderá ter um ótimo início de carreira
                e desenvolver suas habilidades profissionais.</p>
        </div>

        <div class="text-info-detail">
            <p class="title-20 t-color-secondary"> <span class="if-text-detail">&#123;</span> Subir de nível</p>
            <p class="text-p">Se você é um especialista profissional em TI que deseja melhorar suas habilidades e
                aprender algo novo, você pode aprimorar suas habilidades e se tornar um profissional ainda mais
                experiente! Selecione o melhor programa para você e comece a estudar!</p>
        </div>

        <button class="btn-primary if-btn">INCREVA-SE PARA O CURSO</button>

    </div>
</div>