<div class="format-container container-fix">

    <div class="elements-left">
        <p class="title t-color-primary"> <span class="title-detail t-color-primary"> [</span> FORMATOS DE <br>
            TREINAMENTO<span class="title-detail t-color-primary"> />
            </span> </p>
        <p class="text-p">Você é capaz de selecionar a forma mais adequada de processo educacional.<br> /></p>

    </div>

    <div class="elements-right">

        <div class="info-box">
            <p class="title-20 t-color-secondary">Front-end online</p>
            <p class="text-p">Nossos especialistas em carreira fornecerão feedback personalizado para ajudá-lo a
                aperfeiçoar seu currículo, refinar seus perfis do LinkedIn e GitHub e otimizar sua marca pessoal, para
                ajudar a garantir que você atinja seus objetivos de carreira.</p>
        </div>

        <div class="info-box">
            <p class="title-20 t-color-secondary">Front-end manhã</p>

            <div>
                <p class="text-p">Você se juntará a uma comunidade dinâmica de alunos comprometidos com uma experiência
                    de
                    aprendizado intensiva e produtiva de 6 meses.</p>

                <div class="info-box-detail">
                    <p class="text-p t-color-secondary-2"><span class="t-color-primary">></span>Aplicativos front-end
                    </p>
                    <p class="text-p t-color-secondary-2"><span class="t-color-primary">></span>Explorando JavaScript -
                        Objetos,
                        Ferramentas e Testes
                    <p class="text-p t-color-secondary-2"><span class="t-color-primary">></span>Construindo com Angular
                    </p>
                </div>
            </div>

        </div>


        <div class="info-box">
            <p class="title-20 t-color-secondary">Front-end noite</p>
            <div>
                <p class="text-p">Você está pronto para este programa Frontend se tiver acesso a um computador com
                    conexão
                    de banda larga e puder instalar um editor de código/texto.</p>

                <div class="info-box-detail">
                    <p class="text-p t-color-secondary-2"><span class="t-color-primary">></span>Comece a criar páginas
                        da Web com HTML e CSS
                    </p>
                    <p class="text-p t-color-secondary-2"><span class="t-color-primary">></span>Loops, arrays e objetos
                        JavaScript
                </div>
            </div>
        </div>

    </div>
</div>