<div class="background-img">
    <div class="concept-container container-fix">
        <div class="title-container">
            <p class="text-24"> &lt; nova geração de <br>desenvolvedores <br>/></p>
            <p class="title t-color-secondary"> <span class="title-detail t-color-secondary"> [</span> CONCEITO <span
                    class="title-detail"> ] </span> </p>
        </div>

        <div class="text-info">
            <div class="content">
                <p class="number-info text-90">01/</p>
                <div class="text-info-detail">
                    <p class="title-20 t-color-secondary"> Aulas teóricas</p>
                    <p class="text-p t-color-secondary">Aprenda o básico nas aulas teóricas e chegue ao próximo nível!
                    </p>
                </div>
               
            </div>

            <div class="content">
                <p class="number-info text-90">02/</p>
                <div class="text-info-detail">
                    <p class="title-20 t-color-secondary"> Implementação de casos práticos</p>
                    <p class="text-p t-color-secondary">Casos práticos lhe darão grande oportunidade de treinar suas
                        habilidades e começar a formar seu portfólio.</p>
                </div>
                <div class="deg deg-02"></div>
            </div>

            <div class="content">
                <p class="number-info text-90">03/</p>
                <div class="text-info-detail">
                    <p class="title-20 t-color-secondary"> Aulas teóricas</p>
                    <p class="text-p t-color-secondary">Nesta etapa você aprenderá casos mais complexos e estudará como
                        encontrar soluções para eles.</p>
                </div>
                <div class="deg deg-03"></div>
            </div>

            <div class="content">
                <p class="number-info text-90">04/</p>
                <div class="text-info-detail">
                    <p class="title-20 t-color-secondary">Aulas teóricas</p>
                    <p class="text-p t-color-secondary">Forneceremos a você muitos materiais úteis e conhecimento extra
                        em TI.</p>
                </div>
                <div class="deg deg-04"></div>
            </div>
        </div>
    </div>
</div>