<div class="start-container">

    <div class="elements-left">
        <p class="title t-color-primary"> <span class="title-detail t-color-primary"> [</span><br>COMECE<br>
            ALGO<br> NOVO<br><span class="title-detail t-color-primary"> />
            </span> </p>
    </div>

    <div class="elements-right">
        <div class="i-form">
            <label class="title-20 t-color-secondary">Nome:</label>
            <input type="text" placeholder="Qual o seu nome ?">
        </div>
        <div class="i-form">
            <label class="title-20 t-color-secondary">Telefone:</label>
            <input type="text" placeholder="Seu número de telefone">
        </div>
        <div class="i-form">
            <label class="title-20 t-color-secondary">E-mail:</label>
            <input type="text" placeholder="Seu endereço de email">
        </div>
        <div class="i-form">
            <label class="title-20 t-color-secondary">Formado De Treinamento:</label>
            <select>
                <option value="" disabled selected class="o-placeholder">Selecionar formato</option>
                <option value="1">Front-end online</option>
                <option value="2">Front-end noite</option>
                <option value="3">Front-end noite</option>

              </select>
        </div>
        <button class="btn-primary">INCREVA-SE PARA O CURSO</button>
    </div>

</div>